<header class="mynavbar" th:fragment="nav">
	<div id="home">
		<a th:href="@{/}"><h1>Home</h1></a>

		<form th:action="@{/search}" method="post">
			<input type="text" name="search">
			<button type="submit">Chercher</button>
			<td th:text="${result} != null ? ${result} :''" />
		</form>
	</div>

	<div>
		<form id="login">
		<div th:if="${param.error}">
			<p th:text="#{login.error}"></p></div>
			<button type="button" class="btn btn-primary" data-bs-toggle="modal"
				data-bs-target="#loginModal" th:text="#{login}"></button>
			<button type="button" class="btn btn-primary" data-bs-toggle="modal"
				data-bs-target="#signinModal" th:text="#{signin}"></button>
		</form>
	</div>
</header>



<div th:fragment="loginModal" class="modal fade" id="loginModal"
	data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="modalLoginLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalLoginLabel" th:text="#{login}"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
			<form id="formLogin" method="post" th:action="@{/login}">
			<input id="username" name="username" type="text" placeholder="username" required>
			<input id="password" name="password" type="password" placeholder="password" required>
			</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">Close</button>
				<button form="formLogin" type="submit" class="btn btn-primary">Log</button>
			</div>
		</div>
	</div>
</div>

<div th:fragment="signinModal" class="modal fade" id="signinModal"
	data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="modalLoginLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalLoginLabel" th:text="#{signin}"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
			<form id="signform" th:action="@{/add}"  method="post">
			<input th:name="username" type="text" placeholder="username" required>
			<input th:name="email" type="email" placeholder="email" required>
			<input th:name="password" type="password" placeholder="password" required>
			</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">Close</button>
				<button form="signform" type="submit" class="btn btn-primary">Sign</button>
			</div>
		</div>
	</div>
</div>

<footer class="myfooter" th:fragment="foot">
	<a th:href="@{/(lang=fr)}">Français </a><a th:href="@{/(lang=eng)}">English</a>
</footer>
