<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="#{display.forgottitle}">Forgotten</title>
	<!-- Bootstrap css -->
	<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
	
	<!-- my css -->
	<link rel="stylesheet" th:href="@{/css/index.css}">
	
    <!-- Font Icon -->
    <link rel="stylesheet" th:href="@{fonts/material-icon/css/material-design-iconic-font.min.css}">

    <!-- Main css -->
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
	<header th:replace="/nav/navbar.html :: nav"></header>

    <div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="images/signin-image.jpg" alt="sing up image"></figure>
                        <a th:href="@{/register}" class="signup-image-link" >Create an account</a>
                    </div>
                    <div class="signin-form">
                        <h2 class="form-title" th:text="#{display.forgot}">Forgot</h2>
                        <form method="POST" class="register-form" id="login-form" th:action="@{/passrequest}">
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" th:placeholder="#{display.email}"/>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" th:value="#{display.submit}"/>
                                <p></p>
                                <h3 style="color:#FF0000" th:if="${param.error != null}" 
  								th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</h3>
                            </div>
                        </form>
                        <div th:fragment="social-login" class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
	<footer th:replace="/nav/navbar.html :: foot"></footer>		
	<div th:replace="/nav/navbar.html :: loginModal"></div>
	<div th:replace="/nav/navbar.html :: signinModal"></div>
	<script type="text/javascript" th:src="@{/modal.js}"></script>
	<script type="text/javascript"
		th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{js/main.js}"></script>
    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>