<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/index.css}">
<title>Projet Jeux Vidéos</title>
</head>
<body>
	<header th:replace="/nav/navbar.html :: nav"></header>
	<h1 th:text="#{greeting}"></h1>
	<a th:href="@{/test}"><h1>Test</h1></a>
	<div sec:authorize="isAuthenticated()"><a th:href="@{/userroletest}"><h1>test role</h1></a></div>
	<div th:if="${param.error}" class="alert alert-error">Wrong credentials</div>

	
	
	
	<footer th:replace="/nav/navbar.html :: foot"></footer>		
	<div th:replace="/nav/navbar.html :: loginModal"></div>
	<div th:replace="/nav/navbar.html :: signinModal"></div>
	<script type="text/javascript" th:src="@{/modal.js}"></script>
	<script type="text/javascript"
		th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>