<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="#{display.login}">Log In</title>
	<!-- Bootstrap css -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" 
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
	
	<!-- my css -->
	<link rel="stylesheet" th:href="@{/css/index.css}">
	
    <!-- Font Icon -->
    <link rel="stylesheet" th:href="@{fonts/material-icon/css/material-design-iconic-font.min.css}">

    <!-- Main css -->
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
	<header th:replace="/fragments/frags.html :: nav"></header>

    <div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="images/signin-image.jpg" alt="sing up image"></figure>
                        <a th:href="@{/register}" class="signup-image-link" th:text="#{display.createaccount}">Create an account</a>
                    </div>
                    <div class="signin-form">
                    <div th:if="${param.alert != null}"><div th:replace="/fragments/frags.html :: alert"></div></div>
                        <h2 class="form-title" th:text="#{display.login}">login</h2>
                        <form th:fragment="signin-form" method="POST" class="register-form" id="login-form" th:action="@{/login}">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="your_name" th:placeholder="#{display.username}"/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="your_pass" th:placeholder="#{display.password}"/>
                            </div>
                            <div class="form-group" >
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term" th:text="#{display.remember}"><span><span></span></span>Remember me</label>
                            </div>
                            <div>
                            	<a th:href="@{/forgot}" th:text="#{display.forgot}">Forgot password</a>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" th:value="#{display.login}"/>
                                <p></p>
                            </div>
                        </form>
                        <div th:fragment="social-login" class="social-login">
                            <span class="social-label" th:text="#{display.oauth2}">Or login with</span>
                            <ul class="socials">
                                <li><a href="http://localhost:8080/oauth2/authorization/github"><i class="display-flex-center zmdi zmdi-github"></i></a></li>
<!--                                 <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li> -->
<!--                                 <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li> -->
<!--                                 <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
	<footer th:replace="/fragments/frags.html :: foot"></footer>		
	<div th:replace="/fragments/frags.html :: loginModal"></div>
	<div th:replace="/fragments/frags.html :: signinModal"></div>
	<script type="text/javascript" th:src="@{/modal.js}"></script>
	<script type="text/javascript"
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" 
		crossorigin="anonymous"></script>
	<script th:src="@{vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{js/main.js}"></script>
    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>