<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <!-- Bootstrap css -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" 
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
	
	<!-- my css -->
	<link rel="stylesheet" th:href="@{/css/index.css}">
	
    <!-- Font Icon -->
    <link rel="stylesheet" th:href="@{fonts/material-icon/css/material-design-iconic-font.min.css}">

    <!-- Main css -->
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
	<header th:replace="/nav/navbar.html :: nav"></header>

    <div class="main">
        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                    	<div th:if="${param.error != null}"><div th:replace="/nav/navbar.html :: error"></div></div>
                        <h2 class="form-title" th:text="#{display.signin}">Sign up</h2>
                        <form th:action="@{/add}"  th:object="${request}" th:fragment="signup-form" method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" th:field="*{username}" id="name" th:placeholder="#{display.username}" pattern="^(?!.*^_)(?!.*_$)(?!.*__)[a-zA-Z\u00C0-\u00FF_\d]{5,45}$"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" th:field="*{email}" id="email" th:placeholder="#{display.email}"/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" th:field="*{password}" id="pass" th:placeholder="#{display.password}" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{12,30}$"/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" th:field="*{passwordcheck}" id="re_pass" th:placeholder="#{display.repeat}"/>
                            </div>
<!--                             <div class="form-group"> -->
<!--                                 <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" /> -->
<!--                                 <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label> -->
<!--                             </div> -->
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" th:value="#{display.register}"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="images/signup-image.jpg" alt="sing up image"></figure>
                        <a th:href="@{/login}" class="signup-image-link" th:text="#{display.alreadymember}">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    
	<footer th:replace="/nav/navbar.html :: foot"></footer>		
	<div th:replace="/nav/navbar.html :: loginModal"></div>
	<div th:replace="/nav/navbar.html :: signinModal"></div>
	<script type="text/javascript" th:src="@{/modal.js}"></script>
	<script type="text/javascript"
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" 
		crossorigin="anonymous"></script>
	<script th:src="@{vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{js/main.js}"></script>
    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>