<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:text="${#authentication.getPrincipal().getUsername()}">Username</title>
<!-- Bootstrap css -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" 
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>

<div th:if="${delete != true}">
	<form method="Post" th:action="@{/user/delete}">
		<button type="submit" class="btn btn-link">delete</button>
	</form>
</div>
<div th:if="${delete == true}">
	<div  th:if="${daysleft >= 1}">
		<p th:text="#{display.delete.days(${daysleft})}"></p>
	</div>
	<div  th:if="${daysleft < 1}">
		<p th:text="#{display.delete.soon}"></p>
	</div>
	<a th:href="@{/user/canceldelete}">cancel delete</a>
</div>

<a href="/">Go Home</a>

<script type="text/javascript"
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" 
		crossorigin="anonymous"></script>
</body>
</html>