

.c9{border-right-style:solid;
padding:3.6pt 3.6pt 3.6pt 3.6pt;
border-bottom-color:#ffff00;
border-top-width:0pt;
border-right-width:0pt;
border-left-color:#ffff00;
vertical-align:bottom;
border-right-color:#ffff00;
border-left-width:0pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:0pt;
width:182.2pt;
border-top-color:#ffff00;
border-bottom-style:solid}

.c15{border-right-style:solid;
padding:5pt 5pt 5pt 5pt;border-bottom-color:#ffff00;
border-top-width:0pt;
border-right-width:0pt;
border-left-color:#ffff00;
vertical-align:top;
border-right-color:#ffff00;
border-left-width:0pt;
border-top-style:solid;
border-left-style:solid;
border-bottom-width:0pt;
width:393pt;
border-top-color:#ffff00;
border-bottom-style:solid}

.c4{color:#000000;
font-weight:400;
text-decoration:none;
vertical-align:baseline;
font-size:15pt;
font-family:"Lato";
font-style:normal}

.c13{color:#000000;
font-weight:700;
text-decoration:none;
vertical-align:baseline;
font-size:18pt;
font-family:"Raleway";
font-style:normal}

.c28{color:#000000;
font-weight:400;
text-decoration:none;
vertical-align:baseline;
font-size:20pt;
font-family:"Raleway";
font-style:italic}

.c5{color:#000000;
font-weight:400;
text-decoration:none;
vertical-align:baseline;
font-size:14pt;
font-family:"Lato";
font-style:normal}

.c35{padding-top:6pt;
padding-bottom:0pt;
line-height:1.15;
orphans:2;
widows:2;
text-align:left}

.c8{padding-top:0pt;
padding-bottom:0pt;
line-height:1.15;
orphans:2;
widows:2;
text-align:left}

.c20{color:#000000;
text-decoration:none;
vertical-align:baseline;
font-size:28pt;
font-family:"Raleway";
font-style:normal}

.c0{padding-top:0pt;
padding-bottom:0pt;
line-height:1.0;
orphans:2;
widows:2;
text-align:left}

.c12{padding-top:0pt;
padding-bottom:0pt;
line-height:1.5;
page-break-after:avoid;
text-align:left}

.c25{color:#000000;
text-decoration:none;
vertical-align:baseline;
font-family:"Raleway";
font-style:normal}

.c29{text-decoration-skip-ink:none;
font-size:12pt;
-webkit-text-decoration-skip:none;
color:#1155cc;
text-decoration:underline}

.c7{color:#000000;
text-decoration:none;
vertical-align:baseline;
font-family:"Lato";
font-style:normal}

.c19{text-decoration-skip-ink:none;
font-size:14pt;
-webkit-text-decoration-skip:none;
color:#1155cc;
text-decoration:underline}

.c30{margin-left:auto;
border-spacing:0;
border-collapse:collapse;
margin-right:auto}

.c36{padding-top:6pt;
padding-bottom:0pt;
line-height:1.15;
text-align:left}

.c1{padding-top:0pt;
padding-bottom:0pt;
line-height:1.0;
text-align:left}

.c22{background-color:#ffffff;
max-width:504pt;
padding:36pt 54pt 36pt 54pt}

.c23{color:inherit;
text-decoration:inherit}

.c14{font-weight:700;
font-size:15pt}

.c3{font-size:14pt;
font-weight:700}

.c37{font-weight:400;
font-size:11pt}

.c17{font-weight:400;
font-size:12pt}

.c32{height:17.2pt}

.c16{font-weight:700}

.c6{height:18.2pt}

.c33{font-size:24pt}

.c2{height:11pt}

.c21{font-size:14pt}


.c11{height:40.5pt}
.c31{font-size:8pt}
.c10{font-size:16pt}
.c27{page-break-after:avoid}
.c34{font-size:12pt}
.c26{color:#ff0000}
.c24{height:0pt}
.c18{height:172.5pt}


