body{ 
  min-height: 100vh; 
  margin: 0; 
  
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.myheader {
	position: sticky;
    top: 0;
    z-index: 2;
}

.mynavbar {
	
    background-color: azure;
    position: relative;
    width: 99%;
    text-indent: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.myfooter {
	
    background-color: azure;
    position: sticky;
    bottom: 0;
    width: 99%;
    text-indent: 20px;
    
}


.EMAIL:before {
    font-family:'Bootstrap-icons';
    content:'\F32F';
}

.ADDRESS:before {
    font-family:'Bootstrap-icons';
    content:'\F425';
}

.WEBSITE:before {
    font-family:'Bootstrap-icons';
    content:'\F471';
}

.DRIVING_LICENSES:before {
    font-family:'Bootstrap-icons';
    content:'\F2DA';
}

.MOBILE_PHONE:before {
    font-family:'Bootstrap-icons';
    content:'\F5C1';
}

/* .mynavbar p {
    text-indent: 50px;
} */

#myhome {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#mysearchbar {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}


#login {
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* #remember-me { */
/* 	display: flex; */
/*     flex-direction: row; */
/*     flex-wrap: nowrap; */
/*     align-items: center; */
/* } */

