<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <!-- Bootstrap css -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" 
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
	
	<!-- my css -->
	<link rel="stylesheet" data-th-href="@{/css/index.css}">
	
    <!-- Font Icon -->
    <link rel="stylesheet" data-th-href="@{fonts/material-icon/css/material-design-iconic-font.min.css}">

    <!-- Main css -->
    <link rel="stylesheet" data-th-href="@{css/style.css}">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer></script>

<!--    <script type="text/javascript" data-th-src="@{/modal.js}" defer></script>-->
    <script type="text/javascript" data-th-src="@{/main.js}" defer></script>
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous" defer></script>
    <script data-th-src="@{vendor/jquery/jquery.min.js}" defer></script>
    <script data-th-src="@{js/main.js}" defer></script>
    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
	<header data-th-replace="~{fragments/frags :: nav}"></header>

    <div class="main">
        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                    	<div data-th-if="${param.alert != null}"><div data-th-replace="~{fragments/frags :: alert}"></div></div>
                        <h2 class="form-title" data-th-text="#{display.signin}">Sign up</h2>
                        <form data-th-action="@{/add}"  data-th-object="${request}" data-th-fragment="signup-form" method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" data-th-field="*{username}" id="name" data-th-placeholder="#{display.username}"/>
<!--                                <input type="text" data-th-field="*{username}" id="name" data-th-placeholder="#{display.username}" pattern="^(?!.*^_|.*_$|.*__|.*^-|.*-$|.*&#45;&#45;)[a-zA-Z\u00C0-\u00FF_\d-]{5,25}$"/>-->
                            </div>
                            <div class="hidden">
                                <p id='name-underscore' data-th-text="#{message.name.underscores}"></p>
                                <p id='name-dash' data-th-text="#{message.name.dashes}"></p>
                                <p id='name-special' data-th-text="#{message.name.special}"></p>
                                <p id='name-length' data-th-text="#{message.name.length}"></p>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" data-th-field="*{email}" id="email" data-th-placeholder="#{display.email}"/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password"  data-th-field="*{password}" id="pass" data-th-placeholder="#{display.password}" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[\u00C0-\u00FF\u0021-\u007E]{12,30}$"/>
                            </div>
                            <div class="hidden">
                                <p id='pass-digit' data-th-text="#{message.pass.digit}"></p>
                                <p id='pass-lowercase' data-th-text="#{message.pass.lowercase}"></p>
                                <p id='pass-uppercase' data-th-text="#{message.pass.uppercase}"></p>
                                <p id='pass-length' data-th-text="#{message.pass.length}"></p>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" data-th-field="*{passwordcheck}" id="re-pass" data-th-placeholder="#{display.repeat}"/>
                            </div>
                                <p id='passmatch-message' data-th-attr="match=#{message.pass.match}, nomatch=#{message.pass.nomatch}"></p>
<!--                             <div class="form-group"> -->
<!--                                 <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" /> -->
<!--                                 <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label> -->
<!--                             </div> -->
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="btn btn-primary" data-th-value="#{display.register}" disabled/>
                            </div>
                        <div data-th-fragment="social-login" class="social-login">
                            <span class="social-label" data-th-text="#{display.oauth2}">Or login with</span>
                            <ul class="socials">
                                <li><a href="http://localhost:8080/oauth2/authorization/github"><i class="display-flex-center zmdi zmdi-github"></i></a></li>
<!--                                 <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li> -->
<!--                                 <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li> -->
<!--                                 <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li> -->
                            </ul>
                        </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="images/signup-image.jpg" alt="sign up image"></figure>
                        <a data-th-href="@{/login}" class="signup-image-link" data-th-text="#{display.alreadymember}">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    
	<footer data-th-replace="~{fragments/frags :: foot}"></footer>
	<div data-th-replace="~{fragments/frags :: loginModal}"></div>
	<div data-th-replace="~{fragments/frags :: signinModal}"></div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>